@model App4.Models.Produto

@{
    ViewData["Title"] = "Exibição do produto";
}

<h1>Produto cadastrado: </h1>

<div>
    <h4>@Model.NomeProduto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FornecedorEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FornecedorEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Qtd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Qtd)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
